@import '/src/styles.scss';

:host {
    display: flex;
    flex: 1 1 auto;
}

.content {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: column;
}

.main {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.back {
    display: flex;
    width: 100%;
    justify-content: left;
}

.section {
    min-width: 400px;
    max-width: 500px;
}

.properties {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: $xxl;
    margin-top: $lg;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text {
    margin-left:$base;
    font-size: $md;
}

.description {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.test {
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.back-button {
    margin: $md;
    position: absolute;
}