<div class="content" *ngIf="recipe">
  <div class="back">
    <app-icon class="pointer back-button" *ngIf="!edit" icon="back" size="30px" routerLink="/recipes"></app-icon>
  </div>
  <div class="header">
    <app-edit-view class="d-flex-middle">
      <ng-template view>
        <h1>{{ recipe.name }}</h1>
      </ng-template>
      <ng-template edit>
        <app-input [style.margin-top]="'50px'" [(value)]="recipe.name" [fontSize]="32"></app-input>
      </ng-template>
    </app-edit-view>

    <app-edit-view class="properties">
      <ng-template view>
        <span class="d-flex-middle">
          <app-icon size="50px" icon="food"></app-icon>
          <span class="header-text">{{ recipe.difficultyLevel }}</span>
        </span>
        <span class="d-flex-middle">
          <app-icon size="50px" icon="time"></app-icon>
          <span class="header-text"> {{ recipe.preparationTime }}min</span>
        </span>
        <span class="d-flex-middle">
          <app-icon size="50px" icon="dish"></app-icon>
          <span class="header-text">{{ recipe.portions }}</span>
        </span>
      </ng-template>
      <ng-template edit>
        <div class="properties">
          <div class="d-flex-middle">
            <app-icon size="50px" icon="food"></app-icon>
            <app-star-rating
              (ratingUpdated)="recipe.difficultyLevel = $event"
            ></app-star-rating>
          </div>
          <div class="d-flex-middle">
            <app-icon size="50px" icon="time"></app-icon>
            <app-input
              width="100"
              [fontSize]="24"
              placeholder="Czas przygotowania"
              [(value)]="recipe.preparationTime"
            ></app-input>
          </div>
          <div class="d-flex-middle">
            <app-icon size="50px" icon="dish"></app-icon>
            <app-input
              width="100"
              [fontSize]="24"
              placeholder="Liczba porcji"
              [(value)]="recipe.portions"
            ></app-input>
          </div>
        </div>
      </ng-template>
    </app-edit-view>
  </div>

  <div class="main">
    <app-edit-view class="section">
      <ng-template view>
        <app-ingredients [(ingredients)]="recipe.ingredients"></app-ingredients>
      </ng-template>
      <ng-template edit>
        <app-ingredients
          [editTemplate]="true"
          [ingredients]="recipe.ingredients"
        ></app-ingredients>
      </ng-template>
    </app-edit-view>

    <app-edit-view class="section">
      <ng-template view>
        <app-description [desc]="recipe.description"></app-description>
      </ng-template>
      <ng-template edit>
        <div class="description">
          <h2>Przygotowanie</h2>
          <div class="test">
            <app-input
              width="320"
              [textarea]="true"
              [(value)]="recipe.description"
            ></app-input>
          </div>
        </div>
      </ng-template>
    </app-edit-view>
  </div>
  <app-edit-view class="d-flex-middle">
    <ng-template edit>
      <app-button (click)="saveChanges()" name="Zapisz zmiany"></app-button>
    </ng-template>
  </app-edit-view>
</div>
