@import '/src/styles.scss';

.content {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.ingredients {
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.ingredient-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $sm;
    width: 350px;
}

.delete {
    width: $md;
    height: $md;
}
