@import '/src/styles.scss';

.content {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.ingredients {
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.ingredient-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $sm;
    min-width: 300px;
}

.delete {
    width: $md;
    height: $md;
}

.title {
    font-size: $md;
    margin-bottom: $sm;
}