<div class="content">
  <span class="title">Składniki</span>
  <div class="ingredients">
    <ng-container *ngIf="!editTemplate; else edit">
      <div
        class="ingredient-row"
        *ngFor="let ingredient of ingredients; let i = index">
        <span>{{ ingredient.name }}</span>
        <span>{{ ingredient.amount }} {{ ingredient.type }}</span>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #edit>
  <div
    class="ingredient-row"
    *ngFor="let ingredient of ingredients; let i = index"
  >
    <app-input width="100" [(value)]="ingredient.name"></app-input>
    <app-input width="100" [(value)]="ingredient.amount"></app-input>
    <span>{{ ingredient?.type }}</span>
    <img
      class="delete"
      (click)="deleteIngredient(ingredient)"
      src="/assets/delete.svg"
    />
  </div>
  <div class="ingredient-row">
    <app-input
      width="100"
      placeholder="Nazwa składnika"
      [(value)]="newIngredient.name"
    ></app-input>
    <app-input
      width="100"
      placeholder="Ilość"
      [(value)]="newIngredient.amount"
    ></app-input>
    <select [(ngModel)]="newIngredient.type" (keydown)="test($event)">
      <ng-container *ngFor="let type of ingredientsTypes | keyvalue">
        <option [ngValue]="type.value">{{ type.value }}</option>
      </ng-container>
    </select>
  </div>
  <app-button
    class="button"
    (click)="addIngredient()"
    name="Dodaj składnik"
    [size]="16"
  ></app-button>
</ng-template>
