<div class="content">
  <div class="back">
    <a routerLink="/recipes">Wróc do przepisów</a>
  </div>
  <app-input placeholder="Nazwa potrawy" [(value)]="recipe.name"></app-input>
  <div class="properties">
    <div class="flex-row">
      <img src="/assets/food.svg" />
      <app-star-rating (ratingUpdated)="addRate($event)"></app-star-rating>
    </div>
    <div class="flex-row">
      <img src="/assets/time.svg" />
      <app-input
        placeholder="Czas przygotowania"
        [(value)]="recipe.portions"
      ></app-input>
    </div>
    <div class="flex-row">
      <img src="/assets/dish.svg" />
      <app-input
        placeholder="Liczba porcji"
        [(value)]="recipe.preparationTime"
      ></app-input>
    </div>
  </div>
  <div class="main">
    <div class="section">
      <span class="title">Składniki:</span>
      <div class="box section">
        <app-ingredients
          [editTemplate]="true"
          [(ingredients)]="recipe.ingredients"
        ></app-ingredients>
      </div>
    </div>
    <div class="section">
      <span class="title">Opis:</span>
      <div class="box section">
        <app-input [textarea]="true" [(value)]="recipe.description"></app-input>
      </div>
    </div>
  </div>
  <app-button
    (click)="addRecipe()"
    [size]="20"
    [disabled]="!isObjectReady"
    name="Dodaj przepis"
  ></app-button>
</div>
