@import '/src/styles.scss';

.side-menu {
    width: 250px;
    position: absolute;
    display: flex;
    height: 100%;
    background-color: white;
    z-index: 50;
    box-shadow: 10px 0px 24px 0px rgba(66, 68, 90, 0.3);
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.user {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black; 
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: $md;
}

.icon {
    margin-right: $xs;
}